__pycache__/
*.py[cod]
*$py.class
eoconfig/*.yaml
.idea
id_rsa
html/
nocommit/
eoian/config/*
!eoian/config/example.yaml
!.gitignore
.venv
deploy.zip
Pipfile*
resources/keys/id_rsa
*.egg*