__pycache__/
*.py[cod]
*$py.class
.idea
credentials/*
html/
nocommit/
eoian/config/*
!eoian/config/example.yaml
!.gitignore
.venv
deploy.zip
Pipfile*
*.egg*

!credentials/place_credentials_here